@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  width: 900px;
  margin: 0 auto;
  background-color: #F0F8FF;
  line-height: 1.15;
}

nav {
  margin-bottom: 150px;
}

section {
  margin-bottom: 4%;
}

h1{
  text-align: center;
}

h2{
background-color: white;
  border: 1px solid black;
  height: 40px;
padding: 20px 10px 10px 20px;

  }

.grid1-container {
  display: grid;
  grid-gap: 5%;
}

.grid1-hed {
  grid-column: 1/2;
  grid-row: 1/2;
}

.grid1-img {
  grid-column: 1/2;
  grid-row: 2/3;
  height: 200px;
  width: 80%;
}

.grid1-text {
  grid-column: 2/3;
  grid-row: 2/3;
  column-count: 1;
}

.grid1-tracklist{
  grid-column:3/4;
  grid-row: 2/3;
}

.grid2-container {
  display: grid;
  grid-gap: 5%;
}

.grid2-hed {
  grid-column: 1/2;
  grid-row: 1/2;
}

.grid2-img {
  grid-column: 1/2;
  grid-row: 2/3;
  height: 200px;
  width: 85%;
}

.grid2-text {
  grid-column: 2/3;
  grid-row: 2/3;
  column-count: 1;
}

.grid2-tracklist{
  grid-column:3/4;
  grid-row: 2/3;
}

.grid3-container {
  display: grid;
  grid-gap: 5%;
}

.grid3-hed {
  grid-column: 1/2;
  grid-row: 1/2;
}

.grid3-img {
  grid-column: 1/2;
  grid-row: 2/3;
  height: 200px;
  width: 80%;
}

.grid3-text {
  grid-column: 2/3;
  grid-row: 2/3;
  column-count: 1;
}

.grid3-tracklist{
  grid-column:3/4;
  grid-row: 2/3;
}


.grid4-container {
  display: grid;
  grid-gap: 5%;
}

.grid4-hed {
  grid-column: 1/2;
  grid-row: 1/2;
}

.grid4-img {
  grid-column: 1/2;
  grid-row: 2/3;
  height: 200px;
  width: 85%;
}

.grid4-text {
  grid-column: 2/3;
  grid-row: 2/3;
  column-count: 1;
}

.grid4-tracklist{
  grid-column:3/4;
  grid-row: 2/3;
}
