@media only screen and (max-width: 767px) {
  body {
    margin: 5%;
  }

  .lost-grid-container, .alternative-grid-container, .bars-grid-container, .pop-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat (4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 15px;
  }

  .lost-grid-hed, .alternative-grid-hed, .bars-grid-hed, .pop-grid-hed {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .lost-grid-img, .alternative-grid-img, .bars-grid-img, .pop-grid-img {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .lost-grid-text, .alternative-grid-text, .bars-grid-text, .pop-grid-text {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .lost-grid-link, .alternative-grid-link, .bars-grid-link, .pop-grid-link {
    grid-column: 1/2;
    grid-row: 4/5;
    display: none;
  }

  #button1, #button2, #button3, #button4 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}